<h2><b>域名查询</b></h2>
<div class="title-content">
    <div class="form-group">
        <label>域名：</label>
        <input type="text" class="form-control form-text">
        <label>会员名：</label>
        <input type="text" class="form-control form-text">
    </div>
    <div class="form-group">
        <label>注册日期：</label>
        <input type="text" class="form-control form-text reg-date">
        <span>至</span>
        <input type="text" class="form-control form-text reg-date">
        <label>会员名：</label>
        <input type="text" class="form-control form-text reg-date">
        <span>至</span>
        <input type="text" class="form-control form-text reg-date">
    </div> <!-- end reg-date-->
    <div class="form-group">
        <button class="submit">查 询</button>
        <button class="cancel">消 息</button>
    </div>
    <p class="line"></p>
    <h3 class="mt20 mb20"><span>500</span>域名符合条件</h3>
    <table class="table">
        <thead>
        <tr>
            <th>序号</th>
            <th>域名</th>
            <th>会员名</th>
            <th>注册时间</th>
            <th>到期时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div><!-- end details-->

