<div class="box">
    <div class="left-pic">
    </div>
    <div class="right-login">
        <h2 class="title">域名保护平台</h2>

        <form name='loginForm' onsubmit="userLogin()" action="javascript:void(0);" method='POST'>
            <div class="login">
                <label class="tip-info red">&emsp;&emsp;&emsp;&emsp;<span id="msg" class="ml15"></span></label>
                <label>用&ensp;户&ensp;名<input type="text" name='username' value=""></label>
                <label>密&emsp;&emsp;码<input type="password" name='password' value=""></label>
                <label>手&ensp;机&ensp;号<input type="text" name='phonenumber' value=""></label>
                <label class="ml15">&emsp;&emsp;&emsp;&emsp;<a class="captcha"
                                                               href="javascript:getDPasswd();">获取动态密码</a></label>
                <label>动态密码<input type="text" name='dynamicpassword' value=""></label>
                <label>&emsp;&emsp;&emsp;&emsp;<button class="btn ml15">登 录</button>
                </label>
            </div>
        </form>
    </div>
</div>
